<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            margin-top: 250px;
        }
        body{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <center>
        <div class="head">
        <h1>WELCOME TO SNM APP</h1>
        <a href="{{url_for('register')}}">  <button>REGISTER</button></a>
         <a href="{{url_for('login')}}"> <button>LOGIN</button></a><br><br>
        </div>
    </center>
</body>
</html>